[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/Vimux/mainroad.git
[submodule "themes/hugo-knowledge-graph"]
	path = themes/hugo-knowledge-graph
	url = https://github.com/ZhenShuo2021/hugo-knowledge-graph
