[Desktop Entry]
Encoding=UTF-8
Name=Link to obsidian://open?vault=Carrot&file=blog%2Fread-blog
Type=Link
URL=obsidian://open?vault=Carrot&file=blog%2Fread-blog
Icon=text-html
