/* 1. 向瀏覽器宣告本地的台北黑體 */
@font-face {
    font-family: 'Taipei Sans TC';
    src: url('/fonts/TaipeiSansTCBeta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Taipei Sans TC';
    src: url('/fonts/TaipeiSansTCBeta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* 2. 將全站的字體強制優先套用台北黑體 */
html, body, p, h1, h2, h3, h4, h5, h6, article {
    font-family: 'Taipei Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}
